*.pyc
*.pyo
*.pyd
.env
.venv
venv/
ENV/
build/
dist/
.eggs/
*.egg-info/
.DS_Store
.idea/
.vscode/

# Python cache directories
__pycache__/
**/__pycache__/

# Test cache
.pytest_cache/
**/.pytest_cache/
